---
BasedOnStyle: Google
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveBitFields:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
AlignConsecutiveMacros:
  Enabled: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AlignCaseColons: true
ColumnLimit: 100
IndentCaseBlocks: true
